.feed-container {
    display: flex;
    height: 3000px;
    width: 832px;
    margin-top: 43px; 
}

.feed{
    display: flex;
    width: 500px;
    height: 100%;
    margin-left: 12px;
    margin-top: 12px;
    margin-right: 12px;
    flex-direction: column;
}

.posts-area{
    display: flex;
    height: 3000;
    flex-direction: column;
}

.feed-post{
    display: flex;
    width: 476px;
    max-height: 800px;
    padding: 12px 12px 0px 12px;
    background-color: $feed-back-color;
    border: $border-feed-cont;
    border-radius: 3px;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 12px;
}

.fp-header{
    display: flex;
    width: 475px;
    height: 46px;  
}      
 
.fp-header-avtr{
    display: inline-flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #e7e7e7;
}

.fp-header-profile{
    display: inline-flex;
    width: 402px;
    height: 38px;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 8px;
    margin-top: 2px;
    padding-bottom: 5px;
}

.fp-hp{
    display: inline-flex;
    margin: 0;
    margin-right: 85px;
    margin-bottom: 2px;
    text-decoration: none;
}

.fp-hp-2{
    text-decoration: none;
    font-family: $main-font;
    color: $feed-grey-txt;
    font-weight: 100;
    font-size: 14px;    

    >a{
       text-decoration: none;
       font-family: $main-font;
       color: $feed-blue-txt;
    }
}

.fp-hp-3{

    >a{
       text-decoration: none;
       font-family: $main-font;
       color: $feed-blue-txt;
       font-weight: 600;
       font-size: 14px;
    }
}

.fp-hp-time{
    display: inline-flex;
    margin: none;
    font-family: $main-font;
    font-size: 13px;
    color: $feed-grey-txt;   
}

.fp-header-menu{
    background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yr/r/ZhIo2fY_tL3.png");
    background-repeat: no-repeat;
    background-size: 64px 355px;
    background-position: -21px -168px;
    height: 20px;
    width: 20px;

    .fp-post-menu{
        display: none;
        position: absolute;
        z-index: 2;
        width: 95px;
        height: 67px;
        background-color: white;
        border: $border-feed-cont;
        top: 260px;
        right: 460px;
        border-radius: 3px;
        box-shadow: 0px 4px 8px #90949c;
    }

    &:hover .fp-post-menu{
        display: flex;
    }
}

.fp-post-items{
    padding: 10px;
    margin: 0px;
}

.fp-edit, .fp-del{
    color: black;
    font-family: $main-font;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
}
 
.fp-header-post > p{
    display: flex;
    position: relative;
    font-family: $main-font;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.38;
    width: 476px;
    height: 150px;
    margin-top: 6px;   
}

.fp-cont{
    display: flex;
    max-height: 282px;
    width: 500px;
    z-index: 10;
    position: relative;
    right: 12px;
}
   
.fp-footer{
    display: flex;
    width: 420px;
    height: 120px;
}    

.fp-foo-views{
   display: inline-flex;
   text-decoration: none;
   font-family: $main-font;
   color: $feed-grey-txt;
   font-size: 12px;
   width: 150px;    
}

.fp-vl{
    
    height: 55px;
    border-left: 2px solid #cdcdcd;
    margin-top: 26px;

}

.fp-foo-descr{
   display: inline-flex;
   width: 464px;
   height: 77px;
   justify-content: flex-start;
   align-items: center;
   flex-wrap: wrap;
   margin-left: 8px;
   margin-top: 2px;
   padding-bottom: 5px;
} 
   
.fp-fd{
    display: inline-flex;
    margin: 0;
    margin-right: 85px;
    margin-bottom: 2px;
    text-decoration: none;
}

.fp-fd-2{
    text-decoration: none;
    font-family: $main-font;
    color: $feed-grey-txt;
    font-weight: 100;
    font-size: 14px;

    > a{
        text-decoration: none;
        font-family: $main-font;
        color: $feed-blue-txt;
        font-size: 11px;
    }   
}

.fp-fd-3 > a{
       text-decoration: none;
       font-family: $main-font;
       color: $feed-blue-txt;
       font-weight: 600;
       font-size: 12px;
}

.fp-fd-time{
    display: inline-flex;
    margin: none;
    font-family: $main-font;
    font-size: 12px;
    color: $feed-grey-txt;   
}

.fp-footer-btn{
    display: flex;
    width: 474px;
    height: 42px;
    justify-content: space-around;
    align-items: center; 
    border-top: $border-feed-line;
    border-bottom: $border-feed-line;
    margin-top: 12px;
}  

.fp-footer-ico{
    display: inline-flex;
    width: 22px;
    height: 22px;
    margin-right: 5px
}

.fp-footer-like, .fp-footer-com, .fp-footer-sha{
    display: inline-flex;
    text-decoration: none;
    height: 40px;
    width: 160px;
    border: none;
    text-align: center;
    border: none;
    background-color: $feed-back-color;
    justify-content: center;
    align-items: center; 
      
}

.fp-button-text{
    display: inline-flex;
    color: $feed-grey-txt;
    font-weight: 600;
    font-size: 13px;
    font-family: $main-font;
}

.fp-comments{
    display: flex;
    width: 475px;
    height: 34px;
    padding: 8px 0px 8px 0px;

    .fp-avtr-com .fp-com-pic{
        height: 30px;
        width: 30px;
        border: 1px solid transparent;
        border-radius: 50%;
    }

    .fp-post-com{
        height: 32px;
        width: 416px;
        border-radius: 18px;
        border: $border-feed-cont;
        display: flex;
        align-items: center;
        padding-left: 15px;
        margin-left: 10px;
    }

    .fp-com-txt{
        border: none;
        text-align: left;
        font-size: 13px;
        line-height: 16px;
        font-family: $main-font;
    }

    
}















