$main-font: Helvetica, Arial, sans-serif;
$border-feed-cont: 1px solid #dddfe2;
$border-feed-line: 1px solid #eaecee;
$head-height: 43px;
$feed-back-color: white;
$feed-blue-txt: #385899;
$feed-grey-txt :#616770;
$r-feed-grey-txt: #8d949e;
